<p class="mb-3"> <span style="border-bottom: solid 1px #346cb0;" class="pb-1">Groupe n° {{ groupe.numero }} / {{ groupe.idProjet.titre }}</span></p>
<a  href="{{ path('group_notes', {groupId: groupId}) }}"  type="button" class="btn btn-sm btn-primary float-right">Retour à la liste des notes</a>