{% extends "layouts/admin.html.twig" %}

{% block admin_content %}
<section class="px-5">
    <p><i style="border-bottom: solid 1px #346cb0;" class="pb-1">Groupe n° {{ groupId }} / Nom_du_projet</i></p>                     
        <h3 class="text-center my-5">Edition des notes de poster <span class="font-weight-normal lead">(coeff. 1)</span></h3> </br>

        <form>
        <div class="table-responsive">
            <table class="table table-hover mb-5">
                <thead>
                    <tr>
                    <th scope="col" class="align-middle text-center">Nom de l'évaluateur</td>
                    <th scope="col" class="align-middle text-center">Qualité de la présentation </br> <span class="font-weight-normal"> coeff. 1 </br>/5 points </span></td>
                    <th scope="col" class="align-middle text-center">Travail réalisé. Etat d'avancement du projet </br> <span class="font-weight-normal"> coeff. 1 </br> /5 points </span></td>
                    <th scope="col" class="align-middle text-center">Utilisation de compétences nouvelles </br> <span class="font-weight-normal">coeff. 1 </br> /5 points </span></td>
                    <th scope="col" class="align-middle text-center">Moyenne </br> <span class="font-weight-normal">/5 points </span></td>
                    </tr>
                </thead>
                <tbody>
                    {% for id in [1,2,3,4] %}
                    <tr>
                    <th class="text-center">Nom et prénom</th>
                    <td><input class="form-control align-middle text-center mx-auto min-vw-50" type="text" style="width:35%"></input></td>
                    <td><input class="form-control align-middle text-center mx-auto min-vw-50" type="text" style="width:35%"></input></td>
                    <td><input class="form-control align-middle text-center mx-auto min-vw-50" type="text" style="width:35%"></input></td>
                    <td class="text-center align-middle">12</td>
                    </tr>
                        
                    {% endfor %}
                    
                    
                </tbody>
            </table>
            <div class="d-flex justify-content-between w-75 mx-auto">
                <button class="btn btn-outline-primary"><i class="far fa-file-pdf"></i>  Télécharger</button>
                <button class="btn btn-outline-danger" type="reset">Réinitialiser</button>
                <div>
                    <a href="{{ path('group_notes', {groupId: groupId}) }}" class="btn btn-danger">Annuler</a>
                    <button class="btn btn-success" type="submit">Enregistrer</button>
                </div>
            </div>
        </div>
        </form>
    </section>
{% endblock %}