{% extends "layouts/admin.html.twig" %}

{% block admin_content %}
<div class="m-sm-2 m-md-2 m-lg-4">               
    <p><i style="border-bottom: solid 1px #346cb0;" class="pb-1">Groupe n° {{ groupId }} / Nom_du_projet</i></p>
    <h3 class="text-center my-5">Edition des notes de soutenance</h3> </br>

    
    <div class="table-responsive">
        <form method="post">
            <table class="table table-hover mb-5">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle text-center">Nom de l'évaluateur</td>
                        <th scope="col" class="align-middle text-center">Qualité de la présentation </br> <span class="font-weight-normal">/5 points. coeff. 1</span></td>
                        <th scope="col" class="align-middle text-center">Travail réalisé. Etat </br> d'avancement du projet </br> <span class="font-weight-normal">/5 points. coeff. 1</span></td>
                        <th scope="col" class="align-middle text-center">Utilisation de </br> compétences nouvelles </br> <span class="font-weight-normal">/5 points. coeff. 1</span></td>
                        <th scope="col" class="align-middle text-center">Moyenne</td>
                    </tr>
                </thead>
                <tbody>
                    {% for id in 1..4 %}
                    <tr>
                        <th class="text-center">Nom et prénom de l'etudiant</th>
                        <td><input class="form-control align-middle mx-auto" type="number" min="0" max="5" size="2" required></input></td>
                        <td><input class="form-control align-middle mx-auto" type="number" min="0" max="5" size="2" required></input></td>
                        <td><input class="form-control align-middle mx-auto" type="number" min="0" max="5" size="2" required></input></td>
                        <td class="text-center align-middle" id="grandTotal" >12</td>
                    </tr>
                        
                    {% endfor %}
                    
                </tbody>
            </table>
            <div class="d-flex justify-content-between w-75 mx-auto">
                <button class="btn btn-outline-danger" type="reset">Réinitialiser</button>
                <div>
                    <a href="{{ path('group_notes', {groupId: groupId}) }}" class="btn btn-danger">Annuler</a>
                    <button class="btn btn-success" type="submit">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}