{% extends "layouts/admin.html.twig" %}

{% block admin_content %}

<div class="m-sm-0 m-md-2 m-lg-4"> 
    <p><i style="border-bottom: solid 1px #346cb0;" class="pb-1">Groupe n° {{ groupe.numero }} / {{ groupe.idProjet.titre }}</i></p>
    <h3 class="text-center my-5">Edition des notes de poster</h3></br>

    {% include 'layouts/flash-messages.html.twig' %}
    
    <form method="post">
        {% include "layouts/notation/admin/array/table.html.twig" %}
    </form>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/indiv_moy.js') }}"></script>
{% endblock %}