{% extends "layouts/admin.html.twig" %}

{% block admin_content %}

    <h1 class="text-center my-4">Groupes A/B </h1> </br>

    <section class="px-5">
        <form>           <!-- Tableau Groupe A -->
            <table style="width: 45%; display: inline-table; margin-right: 10%" class="table table-bordered ">
                <caption style="caption-side: top; text-align: center; color: black"><b>Groupe A</b></caption>
                <thead>
                <tr>
                    <th style="width: 20%" scope="col">N° sujet</th>
                    <th style="width: 40%" scope="col">NOM</th>
                    <th style="width: 40%" scope="col">Prenom</th>
                </tr>
                </thead>
                <tbody>
                <tr>




                    <td>15</td>
                    <td>CHALOPIN</td>
                    <td>Alexy</td>


                </tr>
                <tr>




                    <td>9</td>
                    <td>FRÖLIGER</td>
                    <td>Robin</td>


                </tr>
                <tr>




                    <td>13</td>
                    <td>GAO</td>
                    <td>Chang</td>


                </tr>
                <tr>




                    <td>1</td>
                    <td>JOURNET</td>
                    <td>Maxime</td>


                </tr>
                <tr>




                    <td>1</td>
                    <td>KNORST</td>
                    <td>Nicolas</td>


                </tr>
                <tr>




                    <td>1</td>
                    <td>LAWSON</td>
                    <td>Esther</td>


                </tr>
                <tr>




                    <td>13</td>
                    <td>MARSAL</td>
                    <td>Rémi</td>


                </tr>
                <tr>




                    <td>13</td>
                    <td>MORIZE</td>
                    <td>Vincent</td>


                </tr>
                <tr>




                    <td>15</td>
                    <td>PARIC</td>
                    <td>Husein</td>


                </tr>
                <tr>




                    <td>6</td>
                    <td>PERRIA</td>
                    <td>Inès</td>


                </tr>
                <tr>




                    <td>13</td>
                    <td>RAHUEL</td>
                    <td>Victor</td>


                </tr>
                <tr>




                    <td>9</td>
                    <td>SIMON</td>
                    <td>Marco</td>


                </tr>
                <tr>




                    <td>12</td>
                    <td>BECKER</td>
                    <td>Arthur</td>


                </tr>
                <tr>




                    <td>6</td>
                    <td>BONAZZI</td>
                    <td>Pierre Jean</td>


                </tr>
                <tr>




                    <td>9</td>
                    <td>BURCKHARDT</td>
                    <td>Benjamin</td>


                </tr>
                <tr>




                    <td>12</td>
                    <td>CHARPENTIER</td>
                    <td>Clément</td>


                </tr>
                <tr>




                    <td>6</td>
                    <td>DEMURU</td>
                    <td>Nathan</td>


                </tr>
                <tr>




                    <td>12</td>
                    <td>DESTREMONT</td>
                    <td>Adrien</td>


                </tr>
                <tr>




                    <td>6</td>
                    <td>FRITSCH</td>
                    <td>Matthieu</td>


                </tr>
                <tr>




                    <td>15</td>
                    <td>LINCKER</td>
                    <td>Luc</td>


                </tr>
                <tr>




                    <td>12</td>
                    <td>LUCOT</td>
                    <td>Quentin</td>


                </tr>
                <tr>




                    <td>12</td>
                    <td>MESNARD</td>
                    <td>Yanis</td>


                </tr>
                <tr>




                    <td>9</td>
                    <td>RAVELLI</td>
                    <td>Angéla</td>


                </tr>
                <tr>




                    <td>6</td>
                    <td>RUAN</td>
                    <td>Henry</td>


                </tr>
                <tr>




                    <td>1</td>
                    <td>VASSEUR</td>
                    <td>Kélian</td>


                </tr>
                <tr>




                    <td>15</td>
                    <td>ZHANG</td>
                    <td>Venique</td>


                </tr>
                <tr>




                    <td>7</td>
                    <td>BOUKADA</td>
                    <td>Adel</td>


                </tr>
                <tr>




                    <td>2</td>
                    <td>CADET</td>
                    <td>Gauthier</td>


                </tr>
                <tr>




                    <td>2</td>
                    <td>COLLIGNON</td>
                    <td>Nicolas</td>


                </tr>
                <tr>




                    <td>17</td>
                    <td>GERARD</td>
                    <td>Alexandre</td>


                </tr>
                <tr>




                    <td>3</td>
                    <td>GIANGRECO</td>
                    <td>Vincent</td>


                </tr>
                <tr>




                    <td>2</td>
                    <td>HOUVER SING</td>
                    <td>Irma</td>


                </tr>
                <tr>




                    <td>17</td>
                    <td>LECOIN</td>
                    <td>Cécile</td>


                </tr>
                <tr>




                    <td>3</td>
                    <td>LUZOLO</td>
                    <td>Euphraïm</td>


                </tr>
                <tr>




                    <td>2</td>
                    <td>ORLIANGE</td>
                    <td>Brice</td>


                </tr>
                <tr>




                    <td>17</td>
                    <td>POIRÉ</td>
                    <td>Nicolas</td>


                </tr>

                <tr>




                    <td>7</td>
                    <td>PORAYKO</td>
                    <td>Geoffrey</td>


                </tr>
                <tr>




                    <td>7</td>
                    <td>PORAYKO</td>
                    <td>Logan</td>


                </tr>
                <tr>




                    <td>17</td>
                    <td>SEMIN</td>
                    <td>Léo</td>


                </tr>

                <tr>




                    <td>3</td>
                    <td>PRUM</td>
                    <td>Lucas</td>


                </tr>




                </tbody>         <!-- Tableau Groupe B -->
            </table><table style="width: 45%; display: inline-table" class="table table-bordered">
                <caption style="caption-side: top; text-align: center; color: black"><b>Groupe B</b></caption>
                <thead>
                <tr>
                    <th style="width: 20%" scope="col">N° sujet</th>
                    <th style="width: 40%" scope="col">NOM</th>
                    <th style="width: 40%" scope="col">Prenom</th>
                </tr>
                </thead>
                <tbody>

                <tr>




                    <td>4</td>
                    <td>ZANNIER</td>
                    <td>Chloé</td>


                </tr>
                <tr>




                    <td>11</td>
                    <td>BEHR</td>
                    <td>Malo</td>


                </tr>
                <tr>




                    <td>11</td>
                    <td>CALVET</td>
                    <td>Yann</td>


                </tr>
                <tr>




                    <td>4</td>
                    <td>CELINDANO</td>
                    <td>Adrien</td>


                </tr>
                <tr>




                    <td>18</td>
                    <td>LANTZ</td>
                    <td>Théo</td>


                </tr>
                <tr>




                    <td>18</td>
                    <td>MAUCHIEN</td>
                    <td>Thomas</td>


                </tr>
                <tr>




                    <td>18</td>
                    <td>PIGNATONE</td>
                    <td>Léo</td>


                </tr>

                <tr>




                    <td>4</td>
                    <td>QUAN</td>
                    <td>Jingyang</td>


                </tr>
                <tr>




                    <td>11</td>
                    <td>SAFSAF</td>
                    <td>Sofyann</td>


                </tr>
                <tr>




                    <td>11</td>
                    <td>SCANU</td>
                    <td>Antoine</td>


                </tr>
                <tr>




                    <td>18</td>
                    <td>WURTZ</td>
                    <td>Loïc</td>


                </tr>
                <tr>




                    <td>4</td>
                    <td>XIE</td>
                    <td>Jingyi</td>


                </tr>
                <tr>




                    <td>16</td>
                    <td>AKNIOU</td>
                    <td>Mehdi</td>


                </tr>
                <tr>




                    <td>5</td>
                    <td>AZANCOTH</td>
                    <td>Valentin</td>


                </tr>
                <tr>




                    <td>19</td>
                    <td>BERT</td>
                    <td>Michel</td>


                </tr>
                <tr>




                    <td>14</td>
                    <td>BOUDOU</td>
                    <td>Zachary</td>


                </tr>
                <tr>




                    <td>19</td>
                    <td>DUSSAUSSOIS</td>
                    <td>Tom</td>


                </tr>
                <tr>




                    <td>10</td>
                    <td>FURET</td>
                    <td>Alexandre</td>


                </tr>
                <tr>




                    <td>5</td>
                    <td>HANEN</td>
                    <td>Nathan</td>


                </tr>
                <tr>




                    <td>19</td>
                    <td>MARTIN</td>
                    <td>Florian</td>


                </tr>
                <tr>




                    <td>10</td>
                    <td>RICATTE</td>
                    <td>Clément</td>


                </tr>
                <tr>




                    <td>5</td>
                    <td>SERANO</td>
                    <td>Waïan</td>


                </tr>
                <tr>




                    <td>10</td>
                    <td>SUBLET</td>
                    <td>Tom</td>


                </tr>
                <tr>




                    <td>5</td>
                    <td>THIL</td>
                    <td>Claire</td>


                </tr>
                <tr>




                    <td>16</td>
                    <td>TOPALOVIC</td>
                    <td>Ajdin</td>


                </tr>
                <tr>




                    <td>19</td>
                    <td>VENISCH</td>
                    <td>Vincent</td>


                </tr>
                <tr>




                    <td>5</td>
                    <td>BRUNGARD</td>
                    <td>Luc</td>


                </tr>
                <tr>




                    <td>16</td>
                    <td>DJERMOUNE</td>
                    <td>Kemil</td>


                </tr>
                <tr>




                    <td>16</td>
                    <td>GIRON</td>
                    <td>Maxence</td>


                </tr>
                <tr>




                    <td>16</td>
                    <td>GISONNI</td>
                    <td>Sylvio</td>


                </tr>
                <tr>




                    <td>19</td>
                    <td>LAMBERT</td>
                    <td>Flavien</td>


                </tr>
                <tr>




                    <td>8</td>
                    <td>LEGUYEN</td>
                    <td>Axel</td>


                </tr>
                <tr>




                    <td>8</td>
                    <td>ROBERT</td>
                    <td>Colin</td>


                </tr>
                <tr>




                    <td>14</td>
                    <td>ROSSI</td>
                    <td>Kévin</td>


                </tr>
                <tr>




                    <td>8</td>
                    <td>SCHNEIDER</td>
                    <td>Louis</td>


                </tr>
                <tr>




                    <td>8</td>
                    <td>URBANELLI</td>
                    <td>Andréa</td>


                </tr>
                <tr>




                    <td>14</td>
                    <td>VENDETTI</td>
                    <td>Dorian</td>


                </tr>
                <tr>




                    <td>14</td>
                    <td>WEILLAND</td>
                    <td>Jeremy</td>


                </tr>
                <tr>




                    <td>10</td>
                    <td>WITTMANN</td>
                    <td>Bixente</td>


                </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between w-50 mt-6 mx-auto">
                <button class="btn btn-outline-primary" style="width: 20%;"><i class="far fa-file-pdf"></i>  Télécharger</button>
            </div>

        </form>
    </section>

{% endblock %}