{% extends "layouts/admin.html.twig" %}

{% block admin_content %}

    <div class="row">
        <div class="col-md-9 mx-auto">
            {# Ceci est la page d'accueil
            <div class="card-metric mt-4">
                Informations: 
            </div> #}

            <div class="card card-fluid mt-4 p-3">
                <p class="text-center">Bienvenue sur la page d'accueil des <strong>administrateurs</strong> </p>
                <input type="checkbox" class="custom-control-input">
            </div>
            
        </div>
        
    </div>
    
{% endblock %}