{% extends "layouts/admin.html.twig" %}

{% block admin_content %}

    <div class="row">
        <div class="col-md-9 mx-auto">
            {# Ceci est la page d'accueil
            <div class="card-metric mt-4">
                Informations: 
            </div> #}

            <div class="card card-fluid mt-4 p-3">
                <p>Bienvenue sur la page d'accueil des <strong>administrateurs</strong> </p>
                <input type="checkbox" class="custom-control-input">
            </div>

            <div class="alert alert-success">
                <h5>La plateforme sera bientôt mise à jour! No stress ;-) </h5>
                <span class="font-weight-bold">Informations:</span> <br>
                <ul>
                    <li>Certaines pages ne sont pas encore disponibles</li>
                    <li>Toutes les fonctionnalités ne sont pas encore disponibles</li>
                </ul>
            </div>
            
        </div>
        
    </div>
    
{% endblock %}