<div class="table-responsive">
    <table class="table table-hover mb-5">
        <table class="table table-hover mb-5">
        {% include "layouts/notation/admin/array/theader.html.twig" %}
        {% include "layouts/notation/admin/array/tbody.html.twig" %}
    </table>
    {% include "layouts/notation/admin/buttons/buttons.html.twig" %}
</div>