{% extends "layouts/admin.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/note.css') }}" rel="stylesheet">
{% endblock %}

{% block admin_content %}
<h3 class="text-center title">Liste des groupes</h3>
<div>
    {% include "layouts/notation/searchbar.html.twig" %} 
</div>

<div class="row">
    {% for groupe in groupes %}
        {% for eval in groupe.idProjet.idEval %}
            {% if eval.idUser == app.user.idUser %}
                <div class="col-md-4">
                    <div class="card card-fluid p-3 sujet">
                    {% include "layouts/notation/card_proj.html.twig" %}
                    
                        <div class="row">
                            <div class="text-center">
                                <a href="{{ path('eval_group_notes_indiv', {groupId: groupe.id}) }}"><button type="button" class="btn btn-outline-warning m-2">Individuelle</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/searchbar.js') }}"></script>
{% endblock %}