<p class="mb-3"> <span style="border-bottom: solid 1px #346cb0;" class="pb-1">Groupe n° {{ groupe.numero }} / {{ groupe.idProjet.titre }}</span></p>
<button style="float:right;" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#retourGroupe">Liste des groupes</button>
{% include "layouts/notation/buttons/retour_user.html.twig" %}