{% extends "layouts/admin.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/note.css') }}" rel="stylesheet">
{% endblock %}

{% block admin_content %}
<div>
    {% include "layouts/notation/searchbar.html.twig" %} 
</div>

<div class="entete">
    <h2 class="fs-3">{{ total }} Projets</h2>
</div>

<div class="row">
    {% for groupe in groupes %}
        <div class="col-md-4">
            <div class="card card-fluid p-3 sujet">
                {% include "layouts/notation/card_proj.html.twig" %}
                
                <div class="text-center">
                    <a href="{{ path('group_notes', {groupId: groupe.id}) }}"><button type="button" class="btn btn-primary">Consulter</button></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/searchbar.js') }}"></script>
{% endblock %}