{% include "layouts/notation/admin/buttons/reset.html.twig" %}
{% include "layouts/notation/admin/buttons/retour.html.twig" %}

<div class="d-flex justify-content-between w-75 mx-auto">
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#reinitialisation">Réinitialiser</button>
    <div>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#retourGroupe">Retour</button>
        <button class="btn btn-success" type="submit">Enregistrer</button>
    </div>
</div>