<div class="headeer">

    <div class="input-group search">
        <input id="input_search" type="search" class="form-control" placeholder="Titre de projet" aria-label="groupSearch" aria-describedby="basic-addon2" onKeyUp="findItem()">
        <button type="button" class="btn btn-primary" onclick="findItem();">
            <i class="fas fa-search"></i>
        </button>
    </div>

    <div class="entete">
        <h2 class="fs-3">{{ total }} Projets</h2>
    </div>
</div>