{% extends "layouts/etudiant.html.twig" %}

{% block etud_content %}
	<div class="row">
		<div
			class="col-md-9 mx-auto">
			{# Ceci est la page d'accueil
			            <div class="card-metric mt-4">
			                Informations:
			            </div> #}

			<div class="card card-fluid mt-4 p-3">
				<p>Bienvenue sur la page d'accueil des
					<b>étudiants</b>
				</p>
				<input type="checkbox" class="custom-control-input">
				{% if etudiant %}
					Votre projet :
					<p class="text-primary">
						{{ etudiant.idGroupeEtud.idProjet.titre }}
					</p>
					Votre promotion : 
                    <p class="text-primary">
                        {{ etudiant.idPromo.nomPromo }}
                    </p>
                    Votre date de soutenance :
					<p class="text-primary">
						{{ etudiant.idPromo.dateSout|date('d/m/Y') }}
					</p>
				{% else %}
					<div class="alert alert-danger">
						<h5 class="text-center">Vous n'avez pas encore de groupe de projet tuteuré
						</h5>
                        <p> Vous pouvez :
                            <ul>
                                <li>Contacter l'administrateur</li>
                                <li>Patienter qu'un projet soit rattaché à votre compte</li>
                            </ul>
                        </p>
					</div>
				{% endif %}
			</div>

			{# <div class="alert alert-info">
				<h5>La plateforme sera bientôt mise à jour!
				</h5>
				<span class="font-weight-bold">Informations:</span>
				<br>
				<ul>
					<li>Certaines pages ne sont pas encore disponibles</li>
					<li>Toutes les fonctionnalités ne sont pas encore disponibles</li>
				</ul>
			</div> #}
		</div>
	</div>
{% endblock %}
